<html>
    <head>
        <title>Welcome to your address book!</title>
    </head>
    <body>
        <h1>You created a new contact</h1>
        <!--The properties name, phone number, and address won't display on the page -->
        <ul>
            <div>
                <li>{{ newperson.getName }}</li>
                <li>{{ newperson.getPhone_number }}</li>
                <li>{{ newperson.getAddress }}</li>
            </div>
        </ul>
        <p><a href='/'>View your contact list.</a></p>
    </body>
</html>
