<html>
    <head>
        <title>Directory</title>
    </head>
    <body>
        <h1>Welcome to your address book</h1>

        {% if people is not empty %}
            <p>Contact List:</p>
                <ul>
                    {% for person in people %}
                        <div>
                            <li>{{ person.getName}}</li>
                            <li>{{ person.getPhone_number}}</li>
                            <li>{{ person.getAddress}}</li>
                        </div>
                    {% endfor %}
                </ul>
        {% endif %}

        <form action='/people' method='post'>
            <div class='form-group'>
                <label for='name'>Enter Name</label>
                <input type='text' name='name' id='name' class='form-control'>
            </div>
            <div class='form-group'>
                <label for='phone_number'>Enter Phone Number</label>
                <input type='number' name='phone_number' id='phone_number' class='form-control'>
            </div>
            <div class='form-group'>
                <label for='address'>Enter Address</label>
                <input type='text' name='address' id='address' class='form-control'>
            </div>
            <button type=submit>Submit</button>
            </form>
            <form action='/delete_all' method='post'>
                <button type='submit'>Clear Everything</button>
        </form>
    </body>
</html>
