<html>
    <head>
        <title>Welcome to your address book!</title>
    </head>
    <body>
        <h1>You created a new contact</h1>
        <ul>
            <div>
                <li>{{ newperson.getName}}</li>
                <li>{{ newperson.getPhone_Number}}</li>
                <li>{{ newperson.getAddress}}</li>
            </div>
        </ul>
        <p><a href='/'>View your contact list.</a></p>
    </body>
</html>
